* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  border: 0;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-family);
  background-image: url(assets/grid.svg);

  background-repeat: repeat;
  background-position: center top;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background-size: 90vw 70vw, 60vw 50vw, 60vw, 80vw;
  background-repeat: no-repeat;
  background-image: url(assets/bbblurry_compressed.png),
    url(assets/bbblurry_compressed.png), url(assets/bbblurry_compressed.png),
    url(assets/bbblurry_compressed.png);
  background-position: top -200px left -500px, top -100px right -400px,
    bottom -250px left -400px, bottom -400px right -300px;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Mobile Screens*/
@media screen and (max-width: 425px) {
}

/*Tablets*/
@media screen and (max-width: 768px) {
}
