@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/itc-avant-garde-gothic-std-book');

:root {
  --font-family: 'Nunito', sans-serif;
  --font-secondary: 'ITC Avant Garde Gothic Std Demi', sans-serif;

  /* ITC */
  font-family: 'ITC Avant Garde Gothic Std Book', sans-serif;
  font-family: 'ITC Avant Garde Gothic Std Extra Light', sans-serif;
  font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed', sans-serif;
  font-family: 'ITC Avant Garde Gothic Std', sans-serif;
  font-family: 'ITC Avant Garde Gothic Std Book Condensed', sans-serif;
  font-family: 'ITC Avant Garde Gothic Std Medium Condensed', sans-serif;
  font-family: 'ITC Avant Garde Gothic Std Demi', sans-serif;
  font-family: 'ITC Avant Garde Gothic Std Demi Condensed', sans-serif;
  font-family: 'ITC Avant Garde Gothic Std Bold', sans-serif;
  font-family: 'ITC Avant Garde Gothic Std Bold Condensed', sans-serif;

  --color-bg: #1e1e1e;
  --color-grey: #888d93;
  --color-border: #424242;
  --color-transparent: #00000000;

  --color-primary: #fefefe;
  --color-secondary: #00b2ff;
  --color-accent: #ff375fcc;

  /* --color-primary: #d9d9d9; */
  color: white;
}
