@import url('https://fonts.cdnfonts.com/css/cera-round-pro');
@import url('https://fonts.cdnfonts.com/css/apercu-mono-pro');

:root {
  --font-secondary: 'Apercu Mono Pro', sans-serif;
  --font-family: 'Cera Round Pro', sans-serif;

  --font-san: 'Open Sans', sans-serif;

  --color-bg: #1e1e1e;
  /* --color-border: #888d93; */
  --color-border: #424242;
  --color-transparent: #00000000;

  --color-primary: #fefefe;
  --color-secondary: #00b2ff;
  --color-accent: #ff375fcc;

  /* --color-primary: #d9d9d9; */
  color: white;
}
